table {
  width: 30%;
}

table caption {
  font-size: 1.2em;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

thead,
tbody,
th,
tbody tr,
tbody td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.3rem;
}

td,
th {
  text-align: center;
}

tr button {
  display: block;
  margin: auto;
}

form {
  margin-top: 2rem;
}

.label-radio .label-checkbox {
  margin: 2rem;
}

#bebidas > label,
#doces-salgados > label {
  margin-right: 1rem;
}
